h1, h2, h3, h4, h5{
  font-weight: bold;
}

ul{
  list-style: inside;
}

/* For desktop: */
h1, h2, h3, h4, h5, li, p {
  font-size: 100%;
}

@media only screen and (max-width: 768px) {
  /* For desktop: */
  h1, h2, h3, h4, h5 {
    font-size: 300%;
  }
 
} 